<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Conexión de Belén -->
		<!--<add name="PetCareDB"
			 connectionString="Data Source=DESKTOP-IUHOVMC\SQLEXPRESS;Initial Catalog=PetCare;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />-->

		<!-- Conexión de Mauricio -->

		 
		<add name="PetCareDB"
		 connectionString="Data Source=MAURI\SQLEXPRESS;Initial Catalog=PetCare;Integrated Security=True;"
		 providerName="System.Data.SqlClient" />
		 
		<!--<add name="PetCareDBCliente"
		 connectionString="Data Source=DESKTOP-AN954VB\SQLEXPRESS;Initial Catalog=PetCare;Integrated Security=True;"
		 providerName="System.Data.SqlClient" />-->
	
		<!-- Conexión de Marcelo -->
		<!-- 
	<add name="PetCareDB"
		 connectionString="Data Source=SERVIDOR_DE_MI_COMPANERO\INSTANCIA;Initial Catalog=PetCare;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
		 providerName="System.Data.SqlClient" />
	-->
		<!-- Conexión de Sol -->
		<!--
	<add name="PetCareDBCliente"
		 connectionString="Data Source=LAPTOP-A3HABLR6\SQLEXPRESS;Initial Catalog=PetCare;Integrated Security=True;"
		 providerName="System.Data.SqlClient" />-->
	
		<!-- Conexión de Enzo -->
		<!-- 
	<add name="PetCareDB"
		 connectionString="Data Source=SERVIDOR_DE_MI_COMPANERO\INSTANCIA;Initial Catalog=PetCare;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
		 providerName="System.Data.SqlClient" />
	-->
		<!-- Conexión de Santiago -->
		<!-- 
	<add name="PetCareDB"
		 connectionString="Data Source=SERVIDOR_DE_MI_COMPANERO\INSTANCIA;Initial Catalog=PetCare;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
		 providerName="System.Data.SqlClient" />
	-->
	</connectionStrings>
</configuration>